Source: ros-jazzy-raph-teleop
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-copyright <!nocheck>, ros-jazzy-ament-cmake-flake8 <!nocheck>, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-raph-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ackermann-msgs, ros-jazzy-joy-linux, ros-jazzy-rclpy, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: Scripts and launch files for Raph Rover teleoperation
